<div>
    <a href="/">トップページ</a>
</div>
<h1>商品一覧</h1>
<ul>
    <%item.map((item)=>{%>
        <dd><a href="/item/<%=item.id%>"> <%=item.name%><a /></dd>
               
        <dd>
            <%=item.price%>円
        </dd>
        <%})%>

</ul>